
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';    
}


header{ 
    background: rgb(214, 179, 158);
}

html {
    height: 200vh;
}
.fundo img{
    width: 100%;
    top: 0;
}

.container {
    position: absolute;
    top: 40vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
   
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #f7f7f7;
    font-style: italic;
}
.nav-list{
    display: flex;
    align-items: center;

}
.nav-list li:hover{
    background-color: #c58b8e;
    transition: 0.5s;
}
.nav-list li{
    padding: 10px 12px;
    border-radius: 20px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fffdfd;
}

.conteudo{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}
.conteudo h1 {
    font-size: 3.2rem;
    margin: 1rem;
    font-family: Roboto;
}
.conteudo p{
    margin: 0rem 3rem 1rem 1rem;
    line-height: 1.7rem;
    padding: 1rem 24rem;
    font-size: 1.4rem;
    font-family: roboto;
}
.botao {
    display: flex;
    justify-content: center;

}

.botao a{
    text-decoration: none;
}
.botao p {
    border-radius: 13px;
    font-size: 1rem;
    border: none;
    background-color: #c58b8e;
    color: white;
    text-align: center;
    padding: 10px 20px ;
    font-family: roboto, bold;

    
}
.botao p:hover{
    transition: 0.5s;
    padding: 11px 20px ;
}


.conteudo2{
    display: flex;
    flex-direction: column;
    color: #c58b8e;
    text-align: center;
}
.conteudo2 h1{
    padding: 7rem 3rem 1rem 1rem;
    font-size: 2.5rem ;
    font-family: roboto;
    
}
.conteudo2 p{
    margin: 0rem 3rem 1rem 1rem;
    padding: 0.5rem 20rem;
    font-size: 1.4rem;
    font-family: roboto;
}
.container3 {
    width: 100%; /* Define a largura total do retângulo */
    padding: 20px; /* Adiciona espaço interno para conteúdo */
    background-color: #c58b8e;
}