@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Playfair+Display:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';    
}


header{ 
    background: rgb(214, 179, 158);
}

html {
    height: 200vh;
}
.fundo img{
    width: 100%;
    top: 0;
}

.container {
    position: absolute;
    top: 40vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
   
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #f7f7f7;
    font-style: italic;
}
.nav-list{
    display: flex;
    align-items: center;

}
.nav-list li:hover{
    background-color: #6d4242;
    transition: 0.5s;
}
.nav-list li{
    padding: 10px 12px;
    border-radius: 20px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fffdfd;
}

.conteudo{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}
.conteudo h1 {
    font-size: 3.2rem;
    margin: 1rem;
    font-style: italic;
}
.conteudo p{
    margin: 0rem 3rem 1rem 1rem;
    line-height: 1.7rem;
    padding: 1rem 20rem;
}
.botao {
    display: flex;
    justify-content: center;

}

.botao a{
    text-decoration: none;
}
.botao p {
    border-radius: 13px;
    font-size: 0.9rem;
    border: none;
    background-color: #6d4242;
    color: white;
    text-align: center;
    padding: 10px 20px ;

    
}
.botao p:hover{
    transition: 0.5s;
    padding: 11px 20px ;
}

.container2 {
    display: flex; /* Usar flexbox para layout */
    justify-content: space-between; /* Distribuir o espaço entre as caixas */
  }
  
  .box {
    width: ; /* Definir a largura das caixas */
    padding: 50px; /* Adicionar espaçamento interno */
    text-align: center; /* Centralizar o conteúdo */
  }
  
  .box img {
    max-width: 100%; /* Garantir que a imagem se ajuste à caixa */
  }
  