@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Playfair+Display:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';    
}

header{
    background-color: #d2b086;
}

body{
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #ffffff;
}
.nav-list{
    display: flex;
    align-items: center;

}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    ;
}
container{
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
}
.conteudo{
    color: #AB7B40;
}
.conteudo h1 {
    margin: 1rem;
}
.conteudo p{
    margin: 0rem 3rem 1rem 1rem;
    line-height: 1.7rem;
}
.img-inicial{
    color: #AB7B40;
    height: auto;
}